
html {
  /* color: #fff; */
  font-size: 120%;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  scrollbar-color: rgb(70, 70, 70) rgb(30, 30, 30);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.Toastify__toast {
  font-family: 'Macondo', cursive;
}


div {
  outline: none;
}


.drakkon-blue {
  color: #2ac2f3;
}


.active-scroll-spy {
  background-color: yellowgreen;
  border-radius: 15px;
}